# ===== SAS temporary & output files =====
*.log
*.lst

# ODS outputs (only ignore if you generate them locally)
output/
outputs/
results/
*.rtf
*.sas7bcat
*.sas7bdat

# SAS Studio / EG user state 
*.sas7bndx
*.sas7bvew
*.sas7bdat.lock
